#add {

 h2 {
  margin: 8px 0;
  }

  .selected-item {
    width: 100%;

    .info_button {
      background-color: $gold;
    }
  }
}

.display-header {
  text-align: center;
}

.search-image {
  display: flex;
  width: 90%;
  height: auto;
  border: 2px solid $accent-color;
  border-radius: 5px;
}

.search_set_form {
  width: 280px;
  margin: 20px auto;
}

.search_set_form {
  padding: 0.5rem 1rem;
  border: 1px solid $accent-color;
  border-radius: 5px;
  font-weight: bold;
  margin: 1.5rem auto;
  background: 
    linear-gradient(
      to top,
      rgba(white, 0.5),
      rgba(white, 0.9),
    ),
    $primary-color;

  fieldset {
    padding: 0.5rem;
    border: none;

    input {
      margin: 10px auto;
    }
  }
}