$cream: #EFE2BA;
$gold: #D79922;
$lightblue: #C5CBE3;
$blue: #4056A1;
$red: #F13C20;

$primary-color: $cream;
$secondary-color: $blue;
$accent-color: $gold;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin transition {
  transition: all 0.5s ease-in-out;
}

@mixin media-md {
  @media screen and (min-width: 750px) {
    @content;
  }
}

@mixin media-lg {
  @media screen and (min-width: 1050px) {
    @content;
  }
}

@mixin media-xl {
  @media screen and (min-width: 1600px) {
    @content;
  }
}