.display-header {
  margin-bottom: 1rem;

  h1 {
    font-family: 'Press Start 2P', cursive;
  }
}

.selected {
  // width: 100%;

  &_image {
    width: 100%;
    height: auto;
    border: 3px solid $primary-color;
  }

  &-item {
    text-align: center;
    color: $secondary-color;
  }
}

.display_items {
  display: grid;
  // grid-template-rows: ;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  justify-items: center;
  align-items: center;
  margin-top: 20px;
}

.display_item {
  height: 223.4px;
  width: 298px;
  border: 1px solid $accent-color;
  overflow: hidden;

  &:hover {
    cursor: pointer;
  }

  img {
    width: 100%;
    height: auto;
  }
}