.selected {
  width: 100%;

  &_image {
    height: 30vh;
    width: 100%;
    overflow: hidden;
    background-color: lightgrey;

    h1 {
      align-self: auto;
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}