.favorites_items {
  display: grid;
  // grid-template-rows: ;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  justify-items: center;
  align-items: center;
}

.favorites_item {
  height: 300px;
  width: 300px;
  background-color: grey;
}