#landing {
  width: 95%;
  height: 100vh;

  .landing_title {
    font-family: 'Press Start 2P', cursive;
    letter-spacing: 0;
    color: black;
    text-shadow: white 0px 0px 10px;
    width: 230px;
    font-size: 1.2em;

    h5 {
      margin-top: 0.5em;
      color: $primary-color;
      font-family: 'Roboto', sans-serif;
      letter-spacing: 0.05em;
      font-size: 0.8em;
    }
  }

  #login {
    padding: 1rem 2rem;
    border: 1px solid $primary-color;
    border-radius: 5px;
    font-weight: bold;
    margin: 1.5rem auto;
    background: 
        linear-gradient(
          to top,
          rgba(white, 0.6),
          rgba(white, 0.8),
        ),
        $cream;

    legend {
      font-size: 1.2em;
    }

    fieldset {
      padding: 1rem;
      border: none;

      div {
        text-align: left;
        font-size: 0.8em;
      }
    }
  }

  .link_span {
    color: $primary-color;
    &:hover {
      cursor: pointer;
    }
  }

  #about_section {
    table tr {
      display: flex;
      flex-direction: column;
      margin: 0 auto 10px;
      padding: 0.5rem 1rem;
      font-size: 0.9em;
      font-weight: bold;
      border: 1px solid $primary-color;
      border-radius: 10px;
      height: 80px;
      width: 90%;
      max-width: 320px;
      background: 
        linear-gradient(
          to bottom,
          rgba(white, 0.6),
          rgba(white, 0.9),
        ),
        $background-image top center no-repeat;
      // background-size: cover;

      &:nth-child(1) td:nth-child(1) {
        color: $accent-color;
      }

      &:nth-child(2) td:nth-child(1) {
        color: $primary-color;
      }

      &:nth-child(3) td:nth-child(1) {
        color: $secondary-color;
      }


      td {
        padding-bottom: 0.3rem;

        .about_icon {
          font-size: 1.5rem;
        }
      }
    }
  }
}
