#landing {
  width: 95%;

  .landing_title {
    text-shadow: white 0px 0px 10px;

    h1 {
      font-family: 'Bangers', cursive;
      font-size: 3rem;
      letter-spacing: 0.15rem;
    }

    h5 {
      color: $primary-color;
      font-size: 1.1rem;
    }
  }

  #login {
    padding: 1rem 2rem;
    border: 1px solid $primary-color;
    border-radius: 5px;
    font-weight: bold;
    margin: 1.5rem auto;
    background: 
        linear-gradient(
          to top,
          rgba(white, 0.6),
          rgba(white, 0.8),
        ),
        $cream;

    legend {
      font-size: 1.5em;
    }

    fieldset {
      padding: 1rem;
      border: none;

      div {
        text-align: left;
        font-size: 1em;
      }

      button {
        margin-top: 5px;
      }
    }

    h6 {
      font-size: 0.8em;
    }
  }

  .link_span {
    color: $primary-color;
    &:hover {
      cursor: pointer;
    }
  }

  #about_section {    
    width: 320px;

    table tr {
      border: none;
      margin: 0 auto 10px;
      padding: 0.5rem 1rem;
      font-size: 0.9em;
      font-weight: bold;

      td {
        padding-bottom: 0.3rem;
        padding-left: 0.5rem;
        margin: 10px auto;

        .about_icon {
          font-size: 1.5rem;
        }
      }
    }
  }
}
