 // Hamburger menu styles 

.menu {
  position: absolute;
  z-index: 2;
  right: 1.5rem;
  top: 1.5rem;
  height: 44px;
  width: 44px;
  cursor: pointer;
  @include transition;

  &_burger {
    position: absolute;
    right: 0;
    top: 1rem;
    width: 40px;
    height: 4px;
    background: $secondary-color;
    @include transition;

    &::before {
      content: '';
      position: absolute;
      top: -10px;
      width: 40px;
      height: 4px;
      background: $secondary-color;
      @include transition;
    }

    &::after {
      content: '';
      position: absolute;
      top: 10px;
      width: 34px;
      height: 4px;
      background: $secondary-color;
      @include transition;
    }

    &.open {
      background: transparent;

      &::before {
        transform: rotate(45deg) translate(5px, 10px);
      }

      &::after {
        width: 40px;
        transform: rotate(-45deg) translate(3px, -10px);
      }
    }
  }
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: 0.98;
  visibility: hidden;

  &.open {
    visibility: visible;
  }

  .menu-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: $primary-color;
    list-style: none;
    transform: translateY(-100%);
    @include transition;

    &.open {
      transform: translateY(0);
    }

    &_item {
      transform: translateX(50vw);
      @include transition;

      &.open {
       transform: translateX(0); 
      }

      &.active > a {
        color: $red;
      }
    }

    &_link {
      display: inline-block;
      font-size: 2rem;
      padding: 1rem 0;
      font-weight: 300;
      @include transition;

      &:hover {
        color: $accent-color;
      }
    }
  }
}

@for $i from 1 through 5 {
  .menu-nav_item:nth-child(#{$i}) {
    transition-delay: ($i * 0.1s) + 0.1s;
  }
}

.username_header {
  font-size: 1.5rem;
  align-self: flex-start;
  position: absolute;
  z-index: 1;
  left: 1.5rem;
  top: 1.5rem;
  color: white;
  text-shadow: $secondary-color 0px 0px 10px;
  text-transform: uppercase;
}