@include media-md {
  main {
    padding-top: 3rem;
  }
  
  .menu {
    visibility: hidden;
  }

  .nav {
    position: absolute;
    visibility: visible;
    letter-spacing: normal;
  
    .menu-nav {
      display: block;
      transform: translateY(0);
      height: 100%;
      background: transparent;
      text-align: right;

      &_item {
        display: inline;
        padding-right: 1.5rem;
      }

      &_link {
        font-size: 1.5rem;
      }
    }
  }

  #landing {
    padding-top: 0;
  }

  #registration {
    margin-top: 10vh;
  }

  .selected_image {
    width: 60%;
  }

  .search-image {
    width: 40%;
  }

  .display_items {
    margin: 2rem auto;
    width: 70%;
    grid-template-columns: repeat(2, 1fr);
  }

  .display_item {
    height: 150px;
    width: 200px;
  }
}

@include media-lg {
  .selected_image {
    width: 50%;
  }

  .search-image {
    width: 30%;
  }

  .display_items {
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
  }

  .display_item {
    height: 223.4px;
    width: 298px;
  }
}

@include media-xl {
  .selected_image {
    width: 40%;
  }

  .search-image {
    width: 20%;
  }

  .display_items {
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
  }

  .display_item {
    height: 223.4px;
    width: 298px;
  }
}