* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#landing {
  width: 95%;
}

#landing .landing_title {
  text-shadow: white 0px 0px 10px;
}

#landing .landing_title h1 {
  font-family: 'Bangers', cursive;
  font-size: 3rem;
  letter-spacing: 0.15rem;
}

#landing .landing_title h5 {
  color: #4056A1;
  font-size: 1.1rem;
}

#landing #login {
  padding: 1rem 2rem;
  border: 1px solid #4056A1;
  border-radius: 5px;
  font-weight: bold;
  margin: 1.5rem auto;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.6)), to(rgba(255, 255, 255, 0.8))), #EFE2BA;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.8)), #EFE2BA;
}

#landing #login legend {
  font-size: 1.5em;
}

#landing #login fieldset {
  padding: 1rem;
  border: none;
}

#landing #login fieldset div {
  text-align: left;
  font-size: 1em;
}

#landing #login fieldset button {
  margin-top: 5px;
}

#landing #login h6 {
  font-size: 0.8em;
}

#landing .link_span {
  color: #4056A1;
}

#landing .link_span:hover {
  cursor: pointer;
}

#landing #about_section table tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto 10px;
  padding: 0.5rem 1rem;
  font-size: 0.9em;
  font-weight: bold;
  border: 1px solid #4056A1;
  border-radius: 10px;
  height: 80px;
  width: 90%;
  max-width: 320px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.6)), to(rgba(255, 255, 255, 0.9))), #EFE2BA;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.9)), #EFE2BA;
}

#landing #about_section table tr:nth-child(1) td:nth-child(1) {
  color: #D79922;
}

#landing #about_section table tr:nth-child(2) td:nth-child(1) {
  color: #4056A1;
}

#landing #about_section table tr:nth-child(3) td:nth-child(1) {
  color: #F13C20;
}

#landing #about_section table tr td {
  padding-bottom: 0.3rem;
}

#landing #about_section table tr td .about_icon {
  font-size: 1.5rem;
}

#registration {
  margin-top: 20vh;
}

.registration_form {
  padding: 1rem 2rem;
  border: 1px solid #4056A1;
  border-radius: 5px;
  font-weight: bold;
  margin: 1.5rem auto;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.6)), to(rgba(255, 255, 255, 0.8))), #EFE2BA;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.8)), #EFE2BA;
}

.registration_form fieldset {
  padding: 0.5rem;
  border: none;
}

.registration_form fieldset legend {
  font-size: 1.5em;
  margin: 10px auto;
}

.registration_form fieldset div {
  text-align: left;
  font-size: 1em;
}

.registration_form fieldset .password-rules {
  padding: 0.5rem;
  font-size: 0.9rem;
  font-weight: normal;
}

.registration_form fieldset .password-rules p {
  font-weight: bold;
}

.registration_form fieldset ul {
  width: 80%;
  margin: auto;
}

.registration_form fieldset button {
  margin: 10px 0;
}

.registration_form fieldset p {
  margin-top: 5px;
}

.menu {
  position: absolute;
  z-index: 2;
  right: 1.5rem;
  top: 1.5rem;
  height: 44px;
  width: 44px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu_burger {
  position: absolute;
  right: 0;
  top: 1rem;
  width: 40px;
  height: 4px;
  background: #4056A1;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu_burger::before {
  content: '';
  position: absolute;
  top: -10px;
  width: 40px;
  height: 4px;
  background: #4056A1;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu_burger::after {
  content: '';
  position: absolute;
  top: 10px;
  width: 34px;
  height: 4px;
  background: #4056A1;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu_burger.open {
  background: transparent;
}

.menu_burger.open::before {
  -webkit-transform: rotate(45deg) translate(5px, 10px);
          transform: rotate(45deg) translate(5px, 10px);
}

.menu_burger.open::after {
  width: 40px;
  -webkit-transform: rotate(-45deg) translate(3px, -10px);
          transform: rotate(-45deg) translate(3px, -10px);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: 0.98;
  visibility: hidden;
}

.nav.open {
  visibility: visible;
}

.nav .menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  background: #D79922;
  list-style: none;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav.open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.nav .menu-nav_item {
  -webkit-transform: translateX(50vw);
          transform: translateX(50vw);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav_item.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav .menu-nav_item.active > a {
  color: #F13C20;
}

.nav .menu-nav_link {
  display: inline-block;
  font-size: 2rem;
  padding: 2rem 0;
  font-weight: 300;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav_link:hover {
  color: #F13C20;
}

.menu-nav_item:nth-child(1) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.menu-nav_item:nth-child(2) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.menu-nav_item:nth-child(3) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.menu-nav_item:nth-child(4) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.menu-nav_item:nth-child(5) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.logged-user h1 {
  font-size: 1.5rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: absolute;
  z-index: 1;
  left: 1.5rem;
  top: 1.5rem;
  color: #D79922;
  text-transform: uppercase;
}

.display-header {
  margin-bottom: 1rem;
  text-shadow: white 0px 0px 10px;
}

.display-header h1 {
  font-family: 'Bangers', cursive;
  font-size: 3rem;
  letter-spacing: 0.15rem;
}

.display-header h5 {
  font-size: 1.1rem;
  color: #4056A1;
}

.selected {
  margin-bottom: 50px;
  width: 90%;
}

.selected_image {
  border: 2px solid #4056A1;
  border-radius: 3px;
  height: auto;
  width: 100%;
}

.selected-item {
  text-align: center;
  color: #F13C20;
}

.selected h2 {
  margin: 10px 0;
}

.selected .display_add {
  list-style: none;
}

.display_items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 20px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.display_item {
  height: 223.4px;
  width: 298px;
  border: 1px solid #D79922;
  border-radius: 3px;
  overflow: hidden;
}

.display_item:hover {
  cursor: pointer;
}

.display_item img {
  width: 100%;
  height: auto;
}

#add h2 {
  margin: 8px 0;
}

#add .selected-item {
  width: 100%;
}

.display-header {
  text-align: center;
}

.search-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  height: auto;
  border: 2px solid #4056A1;
}

.search_set_form {
  width: 280px;
  margin: 20px auto;
}

.search_set_form {
  padding: 0.5rem 1rem;
  border: 1px solid #4056A1;
  border-radius: 5px;
  font-weight: bold;
  margin: 1.5rem auto;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.6)), to(rgba(255, 255, 255, 0.8))), #EFE2BA;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.8)), #EFE2BA;
}

.search_set_form fieldset {
  padding: 0.5rem;
  border: none;
}

.search_set_form fieldset input {
  margin: 10px auto;
}

body {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  line-height: 1.3;
  height: 100%;
  letter-spacing: 0.05em;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(64, 86, 161, 0.5)), to(rgba(64, 86, 161, 0.2)));
  background: linear-gradient(to top, rgba(64, 86, 161, 0.5), rgba(64, 86, 161, 0.2));
}

.main_wrapper {
  margin-top: 5rem;
}

main {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 100%;
  min-height: 100vh;
}

a {
  color: #4056A1;
  text-decoration: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

a:hover {
  cursor: pointer;
}

input {
  padding: 2px;
  border-radius: 3px;
  width: 100%;
  margin-bottom: 5px;
}

button {
  height: 40px;
  width: 80px;
  padding: 3px;
  color: white;
  background-color: #4056A1;
  border-radius: 5px;
  font-size: 1.2em;
}

button:hover {
  cursor: pointer;
}

.shadow {
  -webkit-box-shadow: 1px 1px 1.8px 1.5px #aaaa;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  /* Firefox 3.5 - 3.6 */
  box-shadow: 1px 1px 1.8px 1.5px #aaaa;
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.error {
  margin-top: 10px;
  font-size: 0.9rem;
  color: #F13C20;
  padding: 0.2rem;
  border: 1px solid #F13C20;
}

.selected-item {
  max-width: 300px;
  margin: 5px auto;
}

.selected-item .selected-flex_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.selected-item_button {
  height: 40px;
  width: 110px;
}
/*# sourceMappingURL=main.css.map */